<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>LearnerAcademy</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegistrationServlet</display-name>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>com.authentication.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.authentication.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.authentication.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeachersServlet</display-name>
    <servlet-name>TeachersServlet</servlet-name>
    <servlet-class>com.authentication.TeachersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeachersServlet</servlet-name>
    <url-pattern>/TeachersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentsServlet</display-name>
    <servlet-name>StudentsServlet</servlet-name>
    <servlet-class>com.authentication.StudentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentsServlet</servlet-name>
    <url-pattern>/StudentsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClassesServlet</display-name>
    <servlet-name>ClassesServlet</servlet-name>
    <servlet-class>com.authentication.ClassesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassesServlet</servlet-name>
    <url-pattern>/ClassesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubjectsServlet</display-name>
    <servlet-name>SubjectsServlet</servlet-name>
    <servlet-class>com.authentication.SubjectsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectsServlet</servlet-name>
    <url-pattern>/SubjectsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherServlet</display-name>
    <servlet-name>TeacherServlet</servlet-name>
    <servlet-class>com.learneracademy.servlets.TeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherServlet</servlet-name>
    <url-pattern>/TeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentServlet</display-name>
    <servlet-name>StudentServlet</servlet-name>
    <servlet-class>com.learneracademy.servlets.StudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentServlet</servlet-name>
    <url-pattern>/StudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubjectServlet</display-name>
    <servlet-name>SubjectServlet</servlet-name>
    <servlet-class>com.learneracademy.servlets.SubjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectServlet</servlet-name>
    <url-pattern>/SubjectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClassServlet</display-name>
    <servlet-name>ClassServlet</servlet-name>
    <servlet-class>com.learneracademy.servlets.ClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassServlet</servlet-name>
    <url-pattern>/ClassServlet</url-pattern>
  </servlet-mapping>
</web-app>